Label#appTitle.app-title {
    -fx-font-family: 'Freestyle Script';
    -fx-font-style: 'Regular';
    -fx-font-size: 91;
    -fx-text-fill: white;
}

#secureLoginLabel.title-text {
    -fx-text-fill: #686868ff;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#titleDescription {
    -fx-text-fill: rgb(153, 153, 153);
    -fx-font-weight: bold;
    -fx-font-size: 11;
}